.inactive {
    display: none;
  }
  
.active {
    display: block;
  }

  .arrow {
      width: 100px;
  }

  .slider-items {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
  }

  .imgCarousel {
      width: 50%;
  }